<div class="row justify-content-center">
  <div class="col-3 text-center" *ngFor="let pokemon of pokemons">
    <p>Nom : {{ pokemon.name }}
      <a href="./{{pokemon.name}}">
        <img src='{{pokemon.image}}' class="rounded mx-auto d-block" style="height:200px;" />
      </a>
      <button class="btn btn-outline-primary" (click)="more(pokemon.name)">En savoir plus</button>
    </p>
  </div>
</div>
<a (click)="scrollTop()" class="float">
  <i class="fa fa-chevron-up fa-2x"></i>
</a>
<div *ngIf="loading" class="row">
  <div class="col loader">
    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
  </div>
</div>
