*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
  background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  background-color:#12abdb;
  color: #fff;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  line-height: 60px;
}

.float:hover{
  background-color: #0062cc;
}

.float i{
  line-height: 60px;
  color:#FFF;
}

.float:hover i{
  color: #12abdb;
}

.my-float{
	margin-top:22px;
}


