<div class="row mb-3">
  <div class="header col">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>
      </div>
      <div class="col-md-auto align-self-center">
        <div class="input-group">
          <input type="text" id="research" [formControl]="searchControl" class="form-control"
            placeholder="Nom du pokemon" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" [routerLink]="['/'+searchControl.value]"
              [disabled]="searchControl.invalid">Rechercher</button>
          </div>
        </div>
      </div>
      <div class="col-1 align-self-center ">
        <button type="button" class="btn btn-outline-info" [routerLink]="['/']">Retour</button>
      </div>
    </div>
  </div>
</div>
