<h2 class="text-center">Evolutions :</h2>
      <div *ngFor="let evolution of evolutions; let i=index" [attr.data-index]="i">
        <div class="row">
          <div class="col">
            <span class="text-left">Evolution {{i + 1}} :</span>
            <a href='./{{evolution.name}}'>
            <img src="https://img.pokemondb.net/artwork/{{evolution.name.toLowerCase()}}.jpg" style="height: 200px;">
          </a>
        </div>
      </div>

