<div class="alert alert-primary">
  <h2 class="text-center alert-heading">Attaques :</h2>
  <hr>
  <div class="row">
    <div class="col">
      <h3>Attaque rapide :</h3>
      <div class="row text-center">
        <div class="col">
          <b>Nom</b>
        </div>
        <div class="col">
          <b>Type</b>
        </div>
        <div class="col">
          <b>Dégats</b>
        </div>
      </div>
      <div class="text-center" *ngFor="let attack of attacks?.fast">
        <div class="row">
          <div class="col">
            {{attack.name}}
          </div>
          <div class="col">
            {{attack.type}}
          </div>
          <div class="col">
            {{attack.damage}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col justify-content-center">
      <h3>Attaque spéciale :</h3>
      <div class="row text-center">
        <div class="col">
          <b>Nom</b>
        </div>
        <div class="col">
          <b>Type</b>
        </div>
        <div class="col">
          <b>Dégats</b>
        </div>
      </div>
      <div class="content text-center" *ngFor="let attack of attacks?.special">
        <div class="row">
          <div class="col">
            {{attack.name}}
          </div>
          <div class="col">
            {{attack.type}}
          </div>
          <div class="col">
            {{attack.damage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
