<div class="container">
  <div class="row">
    <div class="col ">
      <app-caracteristics [pokemon]="pokemonDetails"></app-caracteristics>
    </div>
    <div class="col">
      <app-attacks [attacks]="pokemonDetails?.attacks"></app-attacks>
    </div>
    <div class="col " *ngIf="evolutions && evolutions.length > 0">
      <app-evolutions [evolutions]="pokemonDetails?.evolutions" [pokemonName]="pokemonDetails.name"></app-evolutions>
    </div>
  </div>
</div>
<div *ngIf="loading" class="row">
    <div class="col loader">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </div>
  </div>

