<h2 class="text-center">Caractéristique :</h2>
<h4> Générale </h4>

<div class="row">
  <div class="col">
    <b>Nom :</b> {{pokemon?.name}}
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <img src='{{pokemon?.image}}' style="height: 120px;">
  </div>
</div>
<div class="row">
    <div class="col">
      <b>Types :</b> {{ pokemon?.types }}
    </div>
  </div>
<div class="row">
  <div class="col">
    <b>Poids maximum :</b> {{pokemon?.weight.maximum}}
  </div>
</div>
<div class="row">
  <div class="col">
    <b>Poids minimum : </b>{{pokemon?.weight.minimum}}
  </div>
</div>
<div class="row">
  <div class="col">
    <b>Numéro : </b>{{pokemon?.number}}
  </div>
</div>
<div class="row">
  <div class="col">
    <b>Classification : </b>{{pokemon?.classification}}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <button class="btn btn-primary" type="button" (click)="Collapse()" aria-expanded="false">Afficher plus</button>
    <div id="resistance" class="card card-body mt-3" [ngClass]="{'collapse': isCollapse}">
      <b>Resistance : </b><span>{{pokemon?.resistant}}</span>
    </div>
  </div>
</div>
