#resistance {
  height: 90px;
  transition-property: height padding-top padding-bottom border-color;
  transition-duration: 500ms;
}

#resistance.collapse {
  display: block !important;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-color: transparent;
}

#resistance.collapse > * {
 display: none;
}
