@import "~bootstrap/dist/css/bootstrap";

.loader{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50%;
  right:50%;
  color: #12abdb;
  transform: translate(50%,50%);

	border-radius:50px;
	text-align:center;
}


.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #ffffff;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-secondary:hover {
  color: #ffffff;
  background-color: #12abdb;
  border-color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #12abdb;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.alert-primary {
  color: #ffffff;
  background-color: #22c5f7;
  border-color: #12abdb;
}

.btn-outline-info {
  color: #12abdb;
  border-color: #22c5f7;
  background-color: #FFFFFF
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #12abdb;
  border-color: #17a2b8;
}


.header {
  overflow: hidden;
  background-color: #12abdb;
  margin: 0%;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

h1 {
  color: #FFFFFF;
}
 content {
   margin: 30px;
 }
